<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
    <file>./src/</file>
    <file>./modules.local</file>
    <file>./tests/</file>

    <arg value="sp"/>
    <arg name="colors"/>
    <config name="testVersion" value="7.2-"/>
    <config name="text_domain" value="payoneer-for-woocommerce"/>
    <config name="ignore_warnings_on_exit" value="1"/>

    <rule ref="Inpsyde">
    </rule>

    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/tests/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
</ruleset>
